body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  font-size: 2rem;
  text-decoration: none;
  border-bottom: 1px solid rgb(0, 0, 49);
}

nav img {
  height: 7vh;
}

#mapid {
  height: 180px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
}

.leaflet-container {
  width: 30%;
  height: 70%;
  outline: 2px solid red;
  margin: 20px;
}

.content-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid blue;
}

.search-info-container {
  width: 30%;
  margin: 20px;
  height: 70%;
  outline: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

.btn {
  color: blue;
  background-color: white;
  border: 2px solid blue;
  padding: 10px 25px;
}